<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- <property name="hibernate.connection.url">jdbc:mysql://192.168.168.201:3306/op_system_phase2_batch_it_201</property> -->
        <property name="hibernate.connection.url">jdbc:mysql://192.168.168.201:3306/op_system_bigdata</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping resource="cn/com/fujielectric/mapping/Onlinesaleinfos.hbm.xml"/>
        <mapping resource="cn/com/fujielectric/mapping/SaleSeriaEnd.hbm.xml"/>
        <mapping resource="cn/com/fujielectric/mapping/SaleSerialMissed.hbm.xml"/>
        <mapping resource="cn/com/fujielectric/mapping/SystemBatchSetparam.hbm.xml"/>

    </session-factory>
</hibernate-configuration>